//Variables
// $azul: #012f6b
$azul: #002f6c
$verde: #c3d600
$plomo: #e2e2e2
$gris: #525252

@font-face
	font-family: "brandontextbold"
	src: url('../fonts/brandontextbold.otf')

@font-face
	font-family: "brandontextlight"
	src: url('../fonts/brandontextlight.otf')

@font-face
	font-family: "geosanslight"
	src: url('../fonts/geosanslight.ttf')

// @import "font-awesome-sprockets"

// @import "font-awesome"
@import "font-awesome/font-awesome.scss"
//Estilos
*
	// font-family: CaviarDreams, Arial, sans-serif
	font-family: brandontextbold, Arial, sans-serif
	font-size: 12px

body
	position: relative

h2
	font-family: BrandonText, Arial, sans-serif
	font-size: 25px
	font-weight: bold
	text-align: center
	&.titulo01
		color: #353f47
	&.titulo02
		color: $plomo

h3
	color: #474f53
	margin-top: 17px
	position: relative
	text-align: center
	&:after
		background-repeat: no-repeat
		bottom: -30px
		content: ""
		display: inline-block
		height: 16px
		left: 50%
		margin-left: -60px
		position: absolute
		width: 119px
	&.titulo01
		color: #353f47
		&:after
			background-image: url("../images/svg/vector01.svg")
	&.titulo02, &.titulo03
		color: $plomo
		&:after
			background-image: url("../images/svg/vector02.svg")
	&.titulo04
		color: #353f47
		&:after
			background-image: url("../images/svg/vector02.svg")
	&.titulo05
		color: #474f53
		font-family: BrandonText,Arial,sans-serif
		font-size: 26px
		font-weight: bold
		line-height: 60px
		margin-top: 17px
		position: relative
		text-align: center
		&:after
			background-image: url("../images/svg/vector01.svg")

#menu_top
	background-color: rgba($azul, .69)
	height: 110px
	z-index: 50
	position: fixed
	width: 100%
	text-align: center
	top: 0px
	vertical-align: middle

	#menu_top_logo
		a
			img
				height: 29px

	#menu_top_menu
		a
			border-color: $verde
			color: $plomo

	#menu_boton
		font-family: geosanslight, Arial, sans-serif
		font-style: italic
		font-weight: lighter
		line-height: 32px

		a
			color: $plomo
			img
				margin-top: -.4em
				width: 2em

.btn-round
	border: 1px solid
	border-radius: 20px
	padding-left: 2em
	padding-right: 2em
	padding-top: 4px
	padding-bottom: 4px

#header_home
	background-position: center center
	background-repeat: no-repeat
	background-size: 100% 100%
	text-align: center
	#header_logo_principal
		margin: 0 15px
		a:hover
			text-decoration: none
		img
			max-width: 435px
			width: 100%
			margin: 0 auto
		span
			&.slogan_general
				color: #353f47
				display: block
				font-size: 18px
				font-style: oblique
				margin: 0 auto
				text-align: right
				width: 530px
				&:hover
					text-decoration: none
	#header_flujo
		img
			max-width: 40px

.etiqueta
	text-align: center
	#comentario
		font-size: 1em
	#titulo
		font-size: 2em
		color: $azul
		padding: 0
		#linea
			display: block
			height: 1px
			border: 0
			border-top: 1px solid $azul
			margin: -.70em
			padding: 0
	#texto
		font-size: 1.3em
		font-family: brandontextlight
		padding-bottom: 2em
		padding-top: 2em

#btn_mas
	border: 0px
	background-color: $plomo
	color: $gris
	font-family: brandontextlight

#seccion_caracteristicas
	text-align: center
	color: #FFF
	#comentario
		font-size: 1em
		font-family: brandontextlight
		font-weight: 700
	#titulo
		font-size: 2em
		color: $verde
		padding: 0
		b
			color: #FFF
			font-size: 1em
			padding: 0
		#linea
			display: block
			height: 1px
			border: 0
			border-top: 1px solid $verde
			margin: -.70em
			padding: 0
	#texto
		font-size: 1.2em
		font-family: brandontextlight
		padding-bottom: 2em
		padding-top: 2em

	#diagrama
		// .items
		padding-top: 3em
		.fase
			font-size: 2em
			border: 2px solid $verde
			padding-top: .50em
			padding-bottom: .50em
			width: 3em
			height: 3em
			border-radius: 50%
			text-align: center
			margin: 0 auto
			p
				margin-left: 4em
				font-family: brandontextlight
				font-weight: 700
		.fase_descripcion
			font-family: brandontextlight
			margin: 10px auto
			width: 200px
		.item_diagrama
			text-align: center
			&:first-child, &:last-child
				margin-top: 3em

#seccion_productos
	padding-top: 2em
	padding-bottom: 4em
	#categorias
		.item_categoria
			text-align: center
			margin: 0 auto
			h4
				color: $azul
				padding: 0
				margin-bottom: 0
			.hovereffect
				border: 2px solid $azul
				border-radius: 5px
				.linea
					width: 100%
					height: 25px
					background-color: $verde
					&:hover
						display: none
			img
				width: 100%
				// box-shadow: inset -0px -20px 0px 0px $verde
.hovereffect
	width: 100%
	height: 100%
	float: left
	overflow: hidden
	position: relative
	text-align: center
	cursor: default

	.overlay
		width: 100%
		height: 100%
		position: absolute
		overflow: hidden
		top: 0
		left: 0

	&:hover .overlay
		background-color: rgba($azul, 0.81)

	img
		display: block
		position: relative

	a.info
		color: #fff
		display: inline-block
		background-color: transparent
		opacity: 0
		line-height: fit-content
		vertical-align: middle
		text-decoration: none

	&:hover a.info
		opacity: 1
		-webkit-transition: opacity 1s
		transition: opacity 1s
		-ms-transform: translate(0, 100%)
		transform: translate(0, 100%)
		-webkit-transition: all 0.1s 0.1s ease-in-out
		transition: all 0.1s 0.1s ease-in-out

#seccion_videos
	background-image: url("../images/imagen5.png")
	background-position: center center
	background-repeat: no-repeat
	background-size: 100% 100%
	height: 661px
	padding: 30px
	.seccion_videos_lineas
		padding: 20px
	.seccion_videos_contenedor
		text-align: center
		a.play
			display: inline-block
			margin-bottom: 50px
			margin-top: 70px
		.seccion_videos_contenedor_pensamiento_autor
			color: $plomo
			display: inline-block
			max-width: 650px
			.pensamiento
				font-size: 23px
				font-style: oblique
			.autor
				margin-top: 21px
				text-align: right

form[name=frm_contacto] .error
	color: $plomo
	text-align: left
	width: 100%

span
	&.selected
		overflow: hidden
		padding: 14px
		width: calc(100% - 50px)
	&.selectArrow
		display: block
		padding-top: 13px
		text-align: center
		width: 50px
		position: relative
		float: left
		height: 54px
		z-index: 1
		cursor: pointer
	&.selected
		position: relative
		float: left
		height: 54px
		z-index: 1
		cursor: pointer

div.selectOptions
	display: none
	left: -1px
	overflow: hidden
	padding-top: 0
	position: absolute
	top: 54px
	width: 300px

span.selectOption
	border-bottom: 1px solid
	cursor: pointer
	display: block
	height: 52px
	padding: 14px
	width: 100%
	&:last-of-type
		border-bottom: none


.select_contacto
	background-color: rgba(50, 64, 67, 0.4)
	border: 1px solid $plomo
	color: $plomo
	margin-bottom: -5px
	div.selectOptions
		background-color: rgb(50, 64, 67)
		border: 1px solid $plomo
	span.selectOption:hover
		color: rgb(50, 64, 67)
		background: $plomo

footer
	background-color: $verde
	display: block
	#footer_logo
		background-color: $verde
		color: $azul
		display: table
		padding-bottom: 7px
		padding-top: 25px
		width: 100%
		a img
			display: inline-block
			padding-bottom: 16px
			text-align: center

#footer_menu
	color: $azul
	font-size: .8em
	padding-top: 15px
	a
		font-family: brandontextlight
		color: $azul
		display: inline-block
		padding: 0 10px
		&:hover
			text-decoration: none

#footer_menu_movil .btn_footer
	border-bottom: 1px solid #757d83
	color: $azul
	display: block
	font-family: brandontextlight
	font-size: 18px
	padding: 20px 0
	text-align: center
	width: 100%
	&:hover
		background-color: #2c343b
		text-decoration: none
#footer_derechos
	background-color: darken($verde, 5%)
	color: $azul
	font-family: brandontextlight
	padding: 5px 0px
	text-align: center

li
	&.active a div.novedad_sombra, a:hover div.novedad_sombra
		opacity: 1

.carousel-fade
	.carousel-inner
		.item
			transition-property: opacity
			opacity: 0
		.active
			&.left, &.right
				opacity: 0
			opacity: 1
		.next.left, .prev.right
			opacity: 1
		.next, .prev
			left: 0
			transform: translate3d(0, 0, 0)
		.active
			&.left, &.right
				left: 0
				transform: translate3d(0, 0, 0)
	.carousel-control
		z-index: 2

.carousel
	height: 100%

.carousel-inner
	height: 100%
	.item
		height: 100%

.carousel_caption
	position: absolute
	right: 15%
	bottom: 20px
	left: 15%
	z-index: 10
	// padding-top: 40px
	padding-bottom: 10em
	color: #fff
	text-align: left

.caption_h3
	color: #FFF
	text-transform: uppercase
	text-align: left
	margin-bottom: 0

.caption_h4
	display: inline-block
	border-bottom: 1px solid #FFF
	padding-bottom: .05em
	// text-decoration: underline

.caption_p
	text-align: left
	font-family: brandontextlight

.caption_btn
	color: $plomo
	background-color: $azul
	border: none
	font-family: brandontextlight

.carousel_caption .btn
	text-shadow: none

#scene
	position: relative

.vision_titulo
	color: $plomo
	font-family: BrandonText
	font-size: 18px
	font-weight: bold
	margin-bottom: 31px
	text-align: right

.vision_texto
	color: $plomo
	font-size: 18px
	margin-bottom: 80px
	line-height: 26px

#videoModal .modal-dialog .modal-content
	background-color: transparent
	border: medium none
	border-radius: 0
	box-shadow: none
	.modal-header
		border: medium none
		padding: 15px
		text-align: center
		.close
			color: $plomo
			display: block
			float: none
			font-size: 15px
			font-weight: normal
			margin: 0 auto
			opacity: 1
			text-shadow: none
	.modal-body
		padding: 15px 0 0

.modal-backdrop
	&.modal_fondo_home_video
		background-color: #2c343b
	&.modal_fondo_producto_carrusel
		background-color: rgba(234, 227, 208, 0.5)
	&.in
		opacity: .8

.modal-pc
	width: 1150px

#myModalProductoCarrusel
	.modal-pc, .modal-content,.modal-body
		padding: 0

@media (max-width: 480px)
	#videoModal .modal-dialog
		margin-top: 120px
	#producto_carrusel .carousel-control
		&.left, &.right
			background-size: 35px auto

@media (max-width: 1150px)
	.modal-pc
		width: 100%
//movil
@media (max-width: 767px)
	body
		margin-top: 86px
	#menu_top
		height: 86px
		padding-top: 30px
		#menu_top_menu
			text-align: center

		#menu_top_logo
			text-align: center
			a
				img
					height: 20px
		#menu_boton
			margin-top: -.4em
			width: 2em
			color: transparent

	#header_home
		// height: 332px
		background-image: url("../images/imagen1.png")
		padding-top: 80px
	#header_home #header_logo_principal img
		max-width: 310px

	#slider
		height: 250px
		.item
			img
				height: 250px

	#seccion_caracteristicas
		background-image: url("../images/imagen4.png")
		background-size: 100% 100%

	.carousel_caption
		position: absolute
		right: 15%
		bottom: 20px
		left: 15%
		z-index: 10
		padding-bottom: 5em
		color: #fff
		text-align: left

	.caption_h3
		font-size: 1em
		color: #FFF
		text-transform: uppercase
		text-align: left
		margin-bottom: 0

	.caption_h4
		font-size: 1em
		display: inline-block
		border-bottom: 1px solid #FFF
		padding-bottom: .05em

	.caption_p
		font-size: 1.1em
		text-align: left
		font-family: brandontextlight

	.caption_btn
		color: $plomo
		background-color: $azul
		border: none
		font-family: brandontextlight
		font-size: .8em


	form[name="frm_contacto"] .cle_textarea
		width: 100%
		height: 221px
	#seccion_videos
		padding: 15px
		.seccion_videos_contenedor
			a.play
				margin-top: 30px
				margin-bottom: 20px
			.seccion_videos_contenedor_pensamiento_autor
				.pensamiento
					font-size: 18px
				.autor
					margin-top: 15px

	#producto_carrusel
		.carousel-indicators
			bottom: 0
		.carousel-control
			&.left, &.right
				background-size: 50px auto
	#myModalProductoCarrusel .modal-pc
		margin: 150px 0px 0px



@media (min-width: 768px)
	#menu_top
		height: 66px
		padding-top: 17px
		#menu_top_menu
			text-align: center
	#header_home
		background-image: url("../images/imagen1.png")
		height: 100%
		padding-top: 153px
	#header_galeria
		background-image: url("../images/galeria_header_fondo.jpg")
		height: 422px
		padding-top: 140px
	#seccion_nosotros
		background-image: url("../images/imagen2.png")
		background-size: 100% 100%
		height: 100%
		padding-top: 3em
	#seccion_caracteristicas
		background-image: url("../images/imagen4.png")
		background-size: 100% 100%
		height: 45em
		padding-top: 3em

		#diagrama
			padding-top: 0
			background-image: url("../images/diagrama.png")
			background-size: 100% 100%
			height: 25em
			content: ""

	#seccion_conocenos
		padding: 30px 0
	#seccion_contacto
		background-image: url("../images/fondo_contacto1920.jpg")
		background-position: center center
		background-repeat: no-repeat
		background-size: auto 100%
		height: 100%
		min-height: 580px
		padding: 20px 0 40px
		width: 100%
	form[name=frm_contacto]
		.contenedor_input
			width: 300px
		textarea.campo
			resize: none
			width: 630px
	.frm_contacto_contenedor_input_telefono:after
		display: inline-block
		position: relative
		border: 1px solid $plomo
		content: ""
		display: block
		height: 8px
		position: absolute
		width: 8px
		right: -7px
		top: -7px

@media (min-width: 1500px)
	#seccion_videos
		background-size: 100% auto